@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-100;
  }
}

@layer utilities {
  .animate-blink {
    animation: blink 1s step-end infinite;
  }

  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

  .animate-fall {
    animation: fall linear forwards;
  }

  @keyframes fall {
    from { transform: translateY(-60px); }
    to { transform: translateY(440px); }
  }
}
